<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chat App</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="icon" type="image/png" href="./favicon.png"/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./main.css">
</head>
<body>
    <div class="container py-5 px-4">
        
        <header class="text-center">
          <h1 class="display-4 text-white">Chat App</h1>
          <p class="text-white lead mb-1">Hey, <%= username %> </p>
        </header>
      
        <div class="row rounded-lg overflow-hidden shadow">
          
          <div class="col-5 px-0">
            <div class="bg-white">
              <div class="row bg-light">  
                <div class="col-6 bg-gray px-4 py-2">
                    <p class="h5 mb-0 py-1">Recent </p>
                </div>

                <div class="col-2 bg-gray px-5 py-2">
                  <button class="btn h5 mb-0 py-1" onclick="window.location.href = '/connect';">  
                    <i class="fa fa-user-plus"></i>
                  </button>
                </div>
                <div class="col-2 bg-gray px-5 py-2">
                  <form action="/logout" method="POST" class="d-inline">
                  <button class="btn h5 mb-0 py-1">  
                    <i class="fa fa-sign-out"></i>
                  </button>
                  </form>
                </div>
            </div>
      
              <div class="messages-box">
                <div class="list-group rounded-0 user-list">

                  <button class="list-group-item list-group-item-action active text-white rounded-0" data-id="<%= connections[0]._id %>">
                    <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                      <div class="media-body ml-4 mt-2">
                        <div class="d-flex align-items-center justify-content-between mb-1">
                          <h5 class="mb-0"> <%= connections[0].username %> </h5>
                        </div>  
                      </div>
                    </div>
                  </button> 

                  <% connections.slice(1).forEach(connection => { %>
                    <button class="list-group-item list-group-item-action list-group-item-light rounded-0" data-id="<%= connection._id %>">
                      <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                        <div class="media-body ml-4 mt-2">
                          <div class="align-items-center justify-content-between">
                            <h5 class="mb-0"> <%= connection.username %> </h5>
                          </div>
                        </div>
                      </div>
                    </button>
                  <% }) %>

                </div>
              </div>
            </div>
          </div>
          <div class="col-7 px-0">
            <div class="px-4 py-5 chat-box bg-white">
              
            </div>
      
            <!-- Typing area -->
              <div class="input-group">
                <input type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light message-field">
                <div class="input-group-append">
                  <button id="button-addon2" class="btn btn-link bg-light send-button"> <i class="fa fa-paper-plane"></i></button>
                </div>
              </div>
      
          </div>
        </div>
        <footer class="border-top text-center text-white py-3">
          <p class="m-1">Made with &#10084;&#65039; by <a href="https://github.com/shreekanthsenthil" class="text-white font-weight-bold">Shreekanth</a>.</p>
        </footer>
      </div> 
      
      <script src="/socket.io/socket.io.js"></script>
      <script src="./main-bundled.js"></script>
</body>

</html>